
    <head>
        <meta charset="utf-8">
        <title>Edit Link</title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>
<body>
<div class="main">
<form action="/edit" method="post">
  {{#allComics}}
  <input type="text" name="title" value="{{title}}">
  <input type="text" name="issue" value="{{issue}}">
  <input type="text" name="author" value="{{author}}">
  {{#type}}
  <input type="text" name="genre" value="{{genre}}">
  <input type="text" name="publisher" value="{{publisher}}">
  {{/type}}
  <button type="submit" name="button" value="{{_id}}">Submit</button>
  {{/allComics}}
</form>
</div>
</body>
