<!DOCTYPE =html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" type="text/css" href="./styles.css">
    </head>
    <body>
        <div class="main">
            <h1>Favorite Comic Books List</h1>
            <p>The place for you to list your favorite comics!</p>
                {{{yield}}}
        </div>
    </body>
<html>
